/* colors */
/* fonts */
/* mixins */
/* styles */
body {
  font-family: 'Lato';
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #535353;
}

.channel {
  -webkit-box-shadow: 10px 10px 45px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 45px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 45px 2px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  background-color: #ffffff;
  height: 115px;
  background-clip: border-box;
  border-radius: 6px;
  overflow: hidden;
  background-color: #e1e8f0;
}
.channel:hover {
  -webkit-box-shadow: 10px 10px 45px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 45px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 45px 2px rgba(0, 0, 0, 0.25);
}

.channel-logo {
  height: inherit;
  float: left;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.channel-name {
  margin-top: 10px;
  color: #6441A5;
  font-family: "Raleway";
}

.channel-subtitle {
  padding-top: 5px;
}

.page-logo {
  margin-top: 10px;
}

.search-bar {
  margin-top: 15px;
}
.search-bar input,
.search-bar .btn {
  border: 1px solid #6441A5;
  color: #6441A5;
}
.search-bar input[type=text]:focus {
  box-shadow: 0 0 10px #6441A5;
  border-color: #6441A5;
}

.status-buttons {
  display: flex;
  justify-content: center;
  color: #6441A5;
  margin-top: 20px;
  font: menu;
}
